*
!*/
!*.*

.vscode/

# *test.c
*(test).cpp
test.cpp
test.c
/**/tempCodeRunnerFile.cpp
a
/a
/**/a
/test
/.idea


*.dSYM
/**/*.dSYM


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vscode
/.DS_Store
/**/a.dSYM
*/**/.DS_Store
# PAT/Advanced/Graph/.DS_Store
*.dSYM
*/**/*.dSYM.mcp.json

.mcp.json